 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.circle{  
    background-color: #c4c6c7;  
    width: 65px;
    height: 65px;
    line-height: 60px;
    border-radius: 100%;
	margin-left: auto;
    margin-right: auto;
	margin-top: -35px;
}

.third{	
    background-color:#c4c6c7; 
	height : 0px ;	
}

.third .container{ 	
	padding: 90px 0;	
}

.third .container .row{
 	row-gap:25px;	
}

.third .container .row .grid .grid1{ 
	
   
	display:grid;
	height: 150px;  
	width: 120%;
	padding: 60px 30px;
	border-style:solid;
	border-color:black;
	text-align:center;
	color:black;   
}

.grid6{  
   
	background: url("../images/img2.png")no-repeat center;  
	margin-top: 100px;
	height: 350px;  
	width: 350px;
	background-size: cover;
}

.Text{ 
	
   
	
	height: 350px;  
	width: 100%;
	padding: 60px 30px;
	border-color:black;
	text-align:center;
	color:black;   
}




.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}


.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
