@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
	    background-color: #79797d;  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

midbody {

    width: 100%;
    min-height: 100vh;
    background: #4F6072;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruction{
	font-size:22px;
	line-height:82px;
	letter-spacing:0.92px;
	margin-top: 15px;
	text-align:center;
	font-family:sans-serif;
	color:#fffdfd;
	
	
}


.file__upload .head {
	width: 540px;
    height: 145px;
    background: #0b001c;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0 0;
	margin-left: 480px;
	margin-top: 50px;
}

.file__upload .head p {
    color: #FFF;
}

.file__upload .head p i.fa {
    margin-right: 10px;
}

.file__upload .head p span {
    font-size: 2rem;
    font-weight: 100;
}

.file__upload .head p span span {
    font-weight: 600;
}

.file__upload .midbody {
    background: #FFF;
    width: 540px;
    height: calc(100% - 145px);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
	margin-left: 480px;
	
}

.file__upload .midbody input[type="file"] {
    display: none;
}

.file__upload .midbody i.fa {
    color: #d3d3d3;
    margin-bottom: 20px;
}

.file__upload .midbody p strong {
    color: #4db6ac;
}

.file__upload .midbody p span {
    color: #4db6ac;
    text-decoration: underline;
}
.description{
	display: flex;
    justify-content: center;
	width:100%;
	height:150px;
	display: block;
    margin-left: 25%;
	margin-top: 5%;
    margin-right: auto;


}
#outer
{
    width:100%;
    text-align: center;
	margin-top:2%;
	spacing:500px;
}
.inner
{
    display: inline-block;
}
